# Build and Release Folders
*/project
*/target

# Other files and folders
*.DS_Store
.DS_Store
# Executables
*.class
*.jar
*.classpath

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
